   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poland</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body style="background-color: black; color: white;">
   
    <div class="cursor"></div>
    <section class="hero-text">
        <div class="hero-text-content">
            <h1 class="cursor-scale">POLAND</h1>
            <h2 class="cursor-scale small" >An ultimate tool for <span class="cr">P</span>r<span class="cr">O</span>gram <span class="cr">LAN</span>guage <span class="cr">D</span>etection</h2>
        </div>
      
    
    </section>
    <div class="bounce" >
        <a href="#cards">
        <img src="/static/assets/dwn-arrow.jpg" alt="" style="width: 54px;height: 54px;"></a>
    </div>
     
    <div class="ag-format-container" id="cards">
        <h1 style="color: #bdbaba;">Works with <span style="padding-left: 2px;">
        <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="28" height="32" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
             <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z" fill="white">

        </path> </svg></span></h1>
        <div class="ag-courses_box">

          <div class="ag-courses_item">
            <div class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                c<br/>
                c++<br/>
                java<br/>
                python<br/>
                kotlin<br/>
                Swift<br/>
              </div>
            </div>
          </div>
      
          <div class="ag-courses_item">
            <div class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                c#<br/>
                javascript<br/>
                julia<br/>
                Mathematica<br/>
                MATHLAB<br/>
                php<br/>
              </div>

            </div>
          </div>
      
          <div class="ag-courses_item">
            <div class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title"> 
                perl<br/>
                powershell<br/>
                Ruby<br/>
                Rust<br/>
                Ada<br/>
                UNIX SHELL<br/>
              </div>
            </div>
          </div>

        </div>
      </div>

    <div class="btnm">
        <a href="{{ url_for('res') }}">
         <button class="btn cursor-scale small" type="submit" style="padding: 10px;width: 200px;">Get Started
            <img src="../static/assets/arrow.png" alt="next" style="width: 24px;height: 24px;"  >
         </button>
        
        </a>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
       
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
